@keyframes slideDown {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px)
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    padding-left: 2rem;
}

body {
    min-height: 100vh;
    padding-right: calc(100vw - 100%);
    background-image: linear-gradient(to bottom right, skyblue, mediumturquoise);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}

h1 {
    white-space: nowrap;
    text-align: center;
    color: rgb(255, 90, 30);
    font-size: 72px;
    font-family: "Times New Roman", serif;
}

h2 {
    color: rgb(255, 90, 30);
    font-size: 56px;
}

h3 {
    color: coral;
    font-size: 32px;
}

p {
    text-indent: 2rem;
    color: black;
    line-height: 165%;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    overflow: hidden;
    color: coral;
    text-indent: 2rem;
    text-decoration: none;
    font-size: 32px;
}

::-webkit-scrollbar {
    width: auto;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 100vw;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
    
}