body {
    height: 100%;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom right, skyblue, mediumturquoise);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem;
}

main {
    background-color: aliceblue;
    padding: 2rem;
}

footer {
    background-color: darkslategray;
}

h1 {
    white-space: nowrap;
    text-align: center;
    color: rgb(255, 90, 30);
    font-size: 72px;
    font-family: "Times New Roman", serif;
}

h2 {
    color: rgb(255, 90, 30);
    font-size: 56px;
}

h3 {
    color: coral;
    font-size: 32px;
}

p {
    text-indent: 2rem;
    color: black;
    line-height: 165%;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    overflow: hidden;
    color: coral;
    text-indent: 2rem;
    text-decoration: none;
    font-size: 32px;
}